<?xml version="1.0" encoding="UTF-8"?>
<plugin
		xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-ios-webview-background-color"
		version="0.0.1">

	<name>IOS WebView Background Color</name>

	<description>
		This plugin allows you to change the WebView Background color on iOS.
	</description>

	<author>Varsity Software, Inc.</author>

	<license>MIT</license>

	<keywords>Background, iOS</keywords>

	<repo>https://github.com/VarsitySoftware/cordova-plugin-ios-webview-background-color.git</repo>

	<issue>https://github.com/VarsitySoftware/cordova-plugin-ios-webview-background-color/issues</issue>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/WebViewBackgroundColor.js" name="WebViewBackgroundColor">
		<clobbers target="webViewBackgroundColor" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="WebViewBackgroundColor">
				<param name="ios-package" value="WebViewBackgroundColor" />
			</feature>
		</config-file>
		<header-file src="src/ios/WebViewBackgroundColor.h" />
		<source-file src="src/ios/WebViewBackgroundColor.m" />
	</platform>

</plugin>
